{% load staticfiles %}{% load regionenratenTags %}<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Regionenraten{% block title %}{% endblock %}</title>
		<link href="{% static "main/css/bootstrap.min.css" %}" rel="stylesheet">
		<link href="{% static "main/css/style.css" %}?{% settings_value "CACH_RANDOM" %}" rel="stylesheet">
		{% block sitecss %}{% endblock %}
	</head>
	<body>
{% spaceless %}
<div class="container">{% block inhalt %}{% endblock %}</div>
{% endspaceless %}
		<script src="{% static "main/js/jquery-3.3.1.slim.min.js" %}"></script>
		<script src="{% static "main/js/popper.min.js" %}"></script>
		<script src="{% static "main/js/bootstrap.min.js" %}"></script>
	{% block sitejs %}{% endblock %}
	</body>
</html>
